/* styles.css */
h1 {
.fascinate-inline-regular 
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2 { 
font-family: Arial; 
} 

p { 
.offside-regular 
  font-family: "Offside", sans-serif;
  font-weight: 400;
  font-style: normal;
}

  
